[enterpoint]
url = http://ats.borqs.com/api

[server]
auth =  http://ats.borqs.com/smartapi/account/login
session_create =  http://ats.borqs.com/smartapi/group/2410ce76fea0a8f4397ef6ab8dfc899e/test/%s/create
session_update = http://ats.borqs.com/smartapi/group/2410ce76fea0a8f4397ef6ab8dfc899e/test/%s/update
case_create = http://ats.borqs.com/smartapi/group/2410ce76fea0a8f4397ef6ab8dfc899e/test/%s/case/%s/create
case_update = http://ats.borqs.com/smartapi/group/2410ce76fea0a8f4397ef6ab8dfc899e/test/%s/case/%s/update
file_upload = http://ats.borqs.com/smartapi/group/2410ce76fea0a8f4397ef6ab8dfc899e/test/%s/case/%s/fileupload

[account]
username = bhb
password = 902263

[device]
product = bkb
revision = 20131012
id = imei123456



